body {
  margin: 0;
  padding: 0;
  font-family: 'Pixelated MS Sans Serif', Arial;
  -webkit-font-smoothing: none;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

::-webkit-scrollbar-button:single-button {
  display: block;
  height: 16px;
  width: 16px;
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none !important;
}